/*************************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL STYLES
 * 2. PRELOADER
 * 3. SCROLLBAR
 * 4. NAVBAR
 * 5. HOME SECTION
 * 6. ABOUT
 * 7. PROJECTS
 * 8. FOOTER
 * 9. ANIMATIONS
 *************************************************************/

/* 1. GENERAL STYLES */

html {
  --image-gradient: linear-gradient(to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863));

  --imp-text-color: #00FFFF;
  --imp-text-color-Hover: #00d1d1;
}

img {
  z-index: 5;
}

.txt-color {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* 2. PRELOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* 3. SCROLLBAR */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #2d1950;
}

::-webkit-scrollbar-thumb {
  background: var(--imp-text-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--imp-text-color-Hover);
  border-radius: 12px;
}

/* 4. NAVBAR */

.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: var(--imp-text-color) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
  color: var(--imp-text-color);
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  width: 8rem;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.navbar-nav .nav-link.active {
  color: var(--imp-text-color) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--imp-text-color);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

.resume-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.resume-btn-inner {
  line-height: 1.4em !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.resume-btn-inner:hover {
  transform: translateY(-2px) !important;
}

.resume-btn-inner::after {
  display: none !important;
}

/* 5. HOME SECTION */

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  z-index: -9999;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
}

.home-section {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 50px !important;
}

.main-name {
  color: var(--imp-text-color);
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: var(--imp-text-color) !important;
  font-weight: 600 !important;
}

.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--imp-text-color) !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.6em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }

  .Typewriter__cursor {
    display: none !important;
  }

  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-header h1, .home-header div.ps-5 {
    padding-left: 0px !important;
  }

  .home-header ul {
    padding-left: 0px;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
}

.icon-colour {
  color: #fff !important;
}

.home-img {
  max-height: 450px;
}

/* 6. ABOUT */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.blockquote-footer {
  margin: 5px 0 0 10px !important;
  font-size: .6em !important;
}

.about-activity {
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

@media (max-width: 991.5px) {
  .company-image {
    padding-right: 1rem !important;
  }
}

.skill-img {
  max-width: 100px !important;
  height: auto;
}

.py-8 {
  padding-bottom: 4.5rem !important;
  padding-top: 4.5rem !important
}

@media(min-width:576px) {
  .py-sm-8 {
    padding-bottom: 4.5rem !important;
    padding-top: 4.5rem !important
  }
}

@media(min-width:768px) {
  .py-md-8 {
    padding-bottom: 4.5rem !important;
    padding-top: 4.5rem !important
  }
}

@media(min-width:992px) {
  .py-lg-8 {
    padding-bottom: 4.5rem !important;
    padding-top: 4.5rem !important
  }
}

@media(min-width:1200px) {
  .py-xl-8 {
    padding-bottom: 4.5rem !important;
    padding-top: 4.5rem !important
  }
}

@media(min-width:1400px) {
  .py-xxl-8 {
    padding-bottom: 4.5rem !important;
    padding-top: 4.5rem !important
  }
}

.bsb-timeline-1 {
  --bsb-tl-color: var(--bs-primary-bg-subtle);
  --bsb-tl-circle-color: var(--imp-text-color);
  --bsb-tl-circle-size: 18px;
  --bsb-tl-circle-offset: 9px
}

.bsb-timeline-1 .timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative
}

.bsb-timeline-1 .timeline:after {
  background-color: var(--bsb-tl-color);
  bottom: 0;
  content: "";
  left: 0;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px
}

.bsb-timeline-1 .timeline>.timeline-item {
  margin: 0;
  padding: 0;
  position: relative
}

.bsb-timeline-1 .timeline>.timeline-item:before {
  background-color: var(--bsb-tl-circle-color);
  border-radius: 50%;
  content: "";
  height: var(--bsb-tl-circle-size);
  left: calc(var(--bsb-tl-circle-offset)*-1);
  position: absolute;
  top: 0;
  width: var(--bsb-tl-circle-size);
  z-index: 1
}

.bsb-timeline-1 .timeline>.timeline-item .timeline-body {
  margin: 0;
  padding: 0;
  position: relative
}

.bsb-timeline-1 .timeline>.timeline-item .timeline-content {
  padding: 0 0 2.5rem 2.5rem
}

@media(min-width:768px) {
  .bsb-timeline-1 .timeline>.timeline-item .timeline-content {
    padding-bottom: 3rem
  }
}

.bsb-timeline-1 .timeline>.timeline-item:last-child .timeline-content {
  padding-bottom: 0
}

/* 7. PROJECTS */

.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #00ffff47 !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #00ffff47 !important;
}

.btn-primary {
  color: #000 !important;
  background-color: var(--imp-text-color) !important;
  border-color: var(--imp-text-color) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: var(--imp-text-color-Hover) !important;
  border-color: var(--imp-text-color-Hover) !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* 8. FOOTER */

.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-icons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

/* 9. ANIMATIONS */

@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}